<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>高新企业考勤</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- <script src="http://localhost/easyui/jquery.min.js"></script> -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/react/16.6.0/umd/react.production.min.js"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.6.0/umd/react-dom.production.min.js"></script>
  
  <!-- <link href="http://localhost/easyui/themes/metro/easyui.css" rel="stylesheet">
  <script src="http://localhost/easyui/jquery.easyui.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/zh-cn.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
